name: Commit Day Moment

on:
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -  uses: actions/checkout@v4

      -  name: Generate GitHub User Stats
         uses: cicirello/user-statistician@v1
         env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}